$blue: #028cd5;
$light-blue: #0aa6e1;
$gray: #576268;
$light-gray: #eee;
$white: #fff;
$sky-blue: #aad3f3;

$color-primary: $blue;
$color-primary-light: $light-blue;
$color-secondary: $gray;
$color-secondary-light: $light-gray;
$color-text-primary: $white;
$color-text-secondary: $sky-blue;
