@import "normalize.css";
@import "variables";

/**********************************
    Layout & Typography
***********************************/

body {
    font: {
        size: 16px;
        family: "Open Sans", sans-serif;
        weight: 400;
    }
    margin: 0;
}

main {
    padding-bottom: 60px;
}

p {
    line-height: 1.5;
}

h1, h2 {
    margin: 0;
}

h1 {
    font: {
        size: 2.3em;
        weight: 400;
    }
    padding-top: 40px;
}

h2 {
    font-weight: 300;
    padding: 10px 0 20px;
}

h3, h4 {
    color: $color-primary;
    font: {
        weight: 400;
    }
}

h5 {
    font-size: 1em;
    margin-bottom: 10px;
    margin-top: 0;
}

a, abbr[title] {
    text-decoration: none;
}

a:hover span {
    text-decoration: underline;
}

ul {
    padding-left: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th {
    text-align: left;
    width: 45%;
}

table th, td {
    padding: 10px 0;
}

table progress {
    -webkit-appearance: none;
            appearance: none;
    background: $color-divider;
    border: none;
    color: $color-primary;
    height: 10px;
    width: 100%;

    &::-webkit-progress-bar {
        background: $color-divider;
    }

    &::-webkit-progress-value {
        background: $color-primary;
    }

    &::-moz-progress-bar {
        background: $color-primary;
    }
}

%clearfix {
    &:after {
        clear: both;
        content: "";
        display: table;
    }
}

.container {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 80%;

    @extend %clearfix;
}

.fill-width {
    width: 100%;
}

.col {
    box-sizing: border-box;
    float: left;
    padding: 30px 50px;
    position: relative;
    /* make all columns equal height.
    https://css-tricks.com/fluid-width-equal-height-columns/ */
    margin-bottom: -99999px;
    padding-bottom: 99996px;

    section {
        padding-bottom: 20px;
    }

    &-small {
        background: $white;
        box-shadow: 5px 0 10px -1px rgba(0, 0, 0, 0.6);
        width: 35%;
        z-index: 2;
    }

    &-large {
        background: $color-secondary-light;
        width: 65%;
        z-index: 1;
    }
}

.divided {
    section, tr {
        border-bottom: 2px solid $color-divider;
    }

    th, td {
        padding: 15px 0;
    }
}

.offset {
    &-left {
        padding-left: 10%;
    }

    &-right {
        padding-right: 10%;
    }
}

.description {
    background: $color-secondary;
    color: $color-text-primary;
    font-size: 1.1em;
    padding-top: 30px;
    padding-bottom: 15px;
}

.dotted-list {
    border-left: 1px solid $color-primary;
    margin-left: $dotted-list-dot-size;
    margin-top: ($dotted-list-offset * 2) + $dotted-list-dot-border;
    padding-left: 40px;
    position: relative;
    top: -$dotted-list-dot-border;

    .dotted-list-item {
        margin-bottom: 20px;
        position: relative;

        &:before {
            background: $color-primary;
            background-clip: content-box;
            border: $dotted-list-dot-border solid
                rgba(red($color-primary-light),
                     green($color-primary-light),
                     blue($color-primary-light),
                     0.4);
            border-radius: 50%;
            content: "";
            height: $dotted-list-dot-size;
            left: -(40px + $dotted-list-offset);
            position: absolute;
            top: -$dotted-list-dot-border;
            width: $dotted-list-dot-size;
        }
    }
}

// http://codepen.io/geedmo/pen/InFfd
.radial-bar-list {
    @extend %list;

    .radial-bar {
        background: $color-primary;
        border-radius: 50%;
        font-size: 14px;
        height: $radial-bar-size;
        margin-right: $radial-bar-width;
        position: relative;
        width: $radial-bar-size;

        .overlay {
            background: $color-secondary-light;
            border-radius: 50%;
            height: $radial-bar-size - ($radial-bar-width * 2);
            left: $radial-bar-width;
            line-height: $radial-bar-size - ($radial-bar-width * 2);
            position: absolute;
            top: $radial-bar-width;
            width: $radial-bar-size - ($radial-bar-width * 2);
        }
    }

    $step: 10;
    $loops: round(100 / $step);
    $increment: 360 / $loops;
    $half: round($loops / 2);

    @for $i from 0 through $loops {
        .p-#{$i * $step} {
            @if $i < $half {
                $nextdeg: -(90deg + ($increment * $i));
                background-image: linear-gradient(-90deg, $color-divider 50%, transparent 50%, transparent),
                    linear-gradient($nextdeg, $color-primary 50%, $color-divider 50%, $color-divider);
            }
            @else {
                $nextdeg: -(-90deg + ($increment * ($i - $half)));
                background-image: linear-gradient($nextdeg, $color-primary 50%, transparent 50%, transparent),
                    linear-gradient(-270deg, $color-primary 50%, $color-divider 50%, $color-divider);
            }
        }
    }
}

.year {
    float: right;
}

.rounded-icons {
    i {
        border-radius: 50%;
        display: block;
        font-size: 2.1em;
        line-height: 2.1em;
        margin: 0 auto 20px;
        text-align: center;
        width: 2.1em;
    }
}

.hobbies {
    @extend %list;

    li {
        margin-bottom: 10px;
        width: 50%;
    }

    i {
        background: #a6d3f2;
        color: $color-text-primary;
        margin-bottom: 5px;
    }
}

.no-padding {
    padding: 0;
}

.portfolio-img {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    img {
        width: 100%;
    }
}

.project-link {
    color: $color-primary;
}

%list {
    list-style: none;
    margin: 0;
    text-align: center;

    li {
        float: left;
    }

    @extend %clearfix;
}

/**********************************
    Navigation bar
***********************************/

.navbar {
    background: $color-primary;

    a {
        color: $color-text-secondary;
        display: block;
        padding: 22px 0 15px;
        text-transform: uppercase;

        &:hover {
            color: $color-text-primary;
        }

        &.active {
            border-bottom: 2px solid $white;
            color: $color-text-primary;
        }
    }

    ul {
        @extend %list;

        li {
            margin-right: 20px;
        }
    }
}

/**********************************
    Header
***********************************/

header {
    box-shadow: 0 10px 12px 2px rgba(0, 0, 0, 0.5);
    color: $color-text-primary;
    background: $color-primary-light;
    padding: 30px 0;
    position: relative;
    z-index: 100;
}

header img {
    float: right;
    width: 150px;
}

.rounded {
    border-radius: 50%;
}

/**********************************
    Footer
***********************************/

footer, footer a {
    color: $color-text-primary;
}

.top-footer {
    background: $color-primary-light;
    padding: 30px 0;
}

.social-links {
    @extend %list;

    li {
        width: 33.333%;
    }

    i {
        background: $color-primary;
    }
}

.bottom-footer {
    background: $color-primary;
    padding: 15px 0 22px;

    address {
        display: inline;
    }

    a {
        float: right;
    }

    @extend %clearfix;
}
