@import url(normalize.css);
/**********************************
    Layout & Typography
***********************************/
body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0; }

main {
  padding-bottom: 60px; }

p {
  line-height: 1.5; }

h1, h2 {
  margin: 0; }

h1 {
  font-size: 2.3em;
  font-weight: 400;
  padding-top: 40px; }

h2 {
  font-weight: 300;
  padding: 10px 0 20px; }

h3, h4 {
  color: #028cd5;
  font-weight: 400; }

h5 {
  font-size: 1em;
  margin-bottom: 10px;
  margin-top: 0; }

a, abbr[title] {
  text-decoration: none; }

a:hover span {
  text-decoration: underline; }

ul {
  padding-left: 0; }

table {
  border-collapse: collapse;
  width: 100%; }

table th {
  text-align: left;
  width: 45%; }

table th, td {
  padding: 10px 0; }

table progress {
  -webkit-appearance: none;
  appearance: none;
  background: #d8d8d8;
  border: none;
  color: #028cd5;
  height: 10px;
  width: 100%; }
  table progress::-webkit-progress-bar {
    background: #d8d8d8; }
  table progress::-webkit-progress-value {
    background: #028cd5; }
  table progress::-moz-progress-bar {
    background: #028cd5; }

.container:after, .radial-bar-list:after, .hobbies:after, .navbar ul:after, .social-links:after, .bottom-footer:after {
  clear: both;
  content: "";
  display: table; }

.container {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 80%; }

.fill-width {
  width: 100%; }

.col {
  box-sizing: border-box;
  float: left;
  padding: 30px 50px;
  position: relative;
  /* make all columns equal height.
  https://css-tricks.com/fluid-width-equal-height-columns/ */
  margin-bottom: -99999px;
  padding-bottom: 99996px; }
  .col section {
    padding-bottom: 20px; }
  .col-small {
    background: #fff;
    box-shadow: 5px 0 10px -1px rgba(0, 0, 0, 0.6);
    width: 35%;
    z-index: 2; }
  .col-large {
    background: #eee;
    width: 65%;
    z-index: 1; }

.divided section, .divided tr {
  border-bottom: 2px solid #d8d8d8; }
.divided th, .divided td {
  padding: 15px 0; }

.offset-left {
  padding-left: 10%; }
.offset-right {
  padding-right: 10%; }

.description {
  background: #576268;
  color: #fff;
  font-size: 1.1em;
  padding-top: 30px;
  padding-bottom: 15px; }

.dotted-list {
  border-left: 1px solid #028cd5;
  margin-left: 15px;
  margin-top: 39px;
  padding-left: 40px;
  position: relative;
  top: -8px; }
  .dotted-list .dotted-list-item {
    margin-bottom: 20px;
    position: relative; }
    .dotted-list .dotted-list-item:before {
      background: #028cd5;
      background-clip: content-box;
      border: 8px solid rgba(10, 166, 225, 0.4);
      border-radius: 50%;
      content: "";
      height: 15px;
      left: -55.5px;
      position: absolute;
      top: -8px;
      width: 15px; }

.radial-bar-list .radial-bar {
  background: #028cd5;
  border-radius: 50%;
  font-size: 14px;
  height: 125px;
  margin-bottom: 10px;
  margin-right: 10px;
  position: relative;
  width: 125px; }
  .radial-bar-list .radial-bar .overlay {
    background: #eee;
    border-radius: 50%;
    height: 105px;
    left: 10px;
    line-height: 105px;
    position: absolute;
    top: 10px;
    width: 105px; }
.radial-bar-list .p-0 {
  background-image: linear-gradient(-90deg, #d8d8d8 50%, transparent 50%, transparent), linear-gradient(-90deg, #028cd5 50%, #d8d8d8 50%, #d8d8d8); }
.radial-bar-list .p-10 {
  background-image: linear-gradient(-90deg, #d8d8d8 50%, transparent 50%, transparent), linear-gradient(-126deg, #028cd5 50%, #d8d8d8 50%, #d8d8d8); }
.radial-bar-list .p-20 {
  background-image: linear-gradient(-90deg, #d8d8d8 50%, transparent 50%, transparent), linear-gradient(-162deg, #028cd5 50%, #d8d8d8 50%, #d8d8d8); }
.radial-bar-list .p-30 {
  background-image: linear-gradient(-90deg, #d8d8d8 50%, transparent 50%, transparent), linear-gradient(-198deg, #028cd5 50%, #d8d8d8 50%, #d8d8d8); }
.radial-bar-list .p-40 {
  background-image: linear-gradient(-90deg, #d8d8d8 50%, transparent 50%, transparent), linear-gradient(-234deg, #028cd5 50%, #d8d8d8 50%, #d8d8d8); }
.radial-bar-list .p-50 {
  background-image: linear-gradient(90deg, #028cd5 50%, transparent 50%, transparent), linear-gradient(-270deg, #028cd5 50%, #d8d8d8 50%, #d8d8d8); }
.radial-bar-list .p-60 {
  background-image: linear-gradient(54deg, #028cd5 50%, transparent 50%, transparent), linear-gradient(-270deg, #028cd5 50%, #d8d8d8 50%, #d8d8d8); }
.radial-bar-list .p-70 {
  background-image: linear-gradient(18deg, #028cd5 50%, transparent 50%, transparent), linear-gradient(-270deg, #028cd5 50%, #d8d8d8 50%, #d8d8d8); }
.radial-bar-list .p-80 {
  background-image: linear-gradient(-18deg, #028cd5 50%, transparent 50%, transparent), linear-gradient(-270deg, #028cd5 50%, #d8d8d8 50%, #d8d8d8); }
.radial-bar-list .p-90 {
  background-image: linear-gradient(-54deg, #028cd5 50%, transparent 50%, transparent), linear-gradient(-270deg, #028cd5 50%, #d8d8d8 50%, #d8d8d8); }
.radial-bar-list .p-100 {
  background-image: linear-gradient(-90deg, #028cd5 50%, transparent 50%, transparent), linear-gradient(-270deg, #028cd5 50%, #d8d8d8 50%, #d8d8d8); }

.year {
  float: right; }

.rounded-icons i {
  border-radius: 50%;
  display: block;
  font-size: 2.1em;
  line-height: 2.1em;
  margin: 0 auto 20px;
  text-align: center;
  width: 2.1em; }

.hobbies li {
  margin-bottom: 10px;
  width: 50%; }
.hobbies i {
  background: #a6d3f2;
  color: #fff;
  margin-bottom: 5px; }

.no-padding {
  padding: 0; }

.portfolio-img {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0; }
  .portfolio-img img {
    width: 100%; }

.project-link {
  color: #028cd5; }

.radial-bar-list, .hobbies, .navbar ul, .social-links {
  list-style: none;
  margin: 0;
  text-align: center; }
  .radial-bar-list li, .hobbies li, .navbar ul li, .social-links li {
    float: left; }

/**********************************
    Navigation bar
***********************************/
.navbar {
  background: #028cd5; }
  .navbar a {
    color: #aad3f3;
    display: block;
    padding: 22px 0 15px;
    text-transform: uppercase; }
    .navbar a:hover {
      color: #fff; }
    .navbar a.active {
      border-bottom: 2px solid #fff;
      color: #fff; }
  .navbar ul li {
    margin-right: 20px; }

/**********************************
    Header
***********************************/
header {
  box-shadow: 0 10px 12px 2px rgba(0, 0, 0, 0.5);
  color: #fff;
  background: #0aa6e1;
  padding: 30px 0;
  position: relative;
  z-index: 100; }

header img {
  float: right;
  width: 150px; }

.rounded {
  border-radius: 50%; }

/**********************************
    Footer
***********************************/
footer, footer a {
  color: #fff; }

.top-footer {
  background: #0aa6e1;
  padding: 30px 0; }

.social-links li {
  width: 33.333%; }
.social-links i {
  background: #028cd5; }

.bottom-footer {
  background: #028cd5;
  padding: 15px 0 22px; }
  .bottom-footer address {
    display: inline; }
  .bottom-footer a {
    display: inline-block;
    float: right; }

/**********************************
    Media Queries
***********************************/
@media only screen and (max-width: 1200px) {
  .col-small, .col-large {
    width: 50%; }

  .portfolio-img img {
    padding: 60px 0; }

  .bottom-footer {
    text-align: center; }
    .bottom-footer a {
      display: block;
      float: none;
      margin-top: 10px; } }
@media only screen and (max-width: 992px) {
  main {
    padding-bottom: 0; }

  .col-small, .col-large {
    margin-bottom: 0;
    padding-bottom: 60px;
    width: 100%; }

  .col-small {
    padding-right: 10%; }

  .col-large {
    padding-left: 10%; }

  .social-links a span {
    display: none; }
  .social-links a i {
    margin-bottom: 0; }

  .bottom-footer address {
    display: block; } }
@media only screen and (min-width: 992px) and (max-width: 1200px), (max-width: 768px) {
  .year {
    display: block;
    float: none;
    margin-top: 10px; } }
@media only screen and (max-width: 480px) {
  h1, h2, h3 {
    text-align: center; }

  header img {
    display: block;
    float: none;
    margin: 0 auto; }

  .radial-bar-list {
    display: block;
    margin: 0 auto;
    width: 125px; } }

/*# sourceMappingURL=style.css.map */
